body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #b5d6ab;
    text-align: center;
  }

  a {
    text-decoration: none;
    color:whitesmoke;
    background-color: rgb(108, 64, 64);
    padding: 10px;
    border-radius: 25px;
  }


  img {
    float: center;
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 15px;
  }

div {
    margin-bottom: 10px;
 }

.link {
  padding: 10px;
    }

p{
  padding: 10px;
  margin: auto;
  font-size: 20px;
}